<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google font css link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@400;600;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles.css">
    <title>Music Website</title>
</head>
<body>
    <header>
        <p>Welcome to my Music Webpage!</p>
        <nav>
            <ul class="navMenu">
                <li ><a href="/">Home</a></li>
                <li ><a href="/playlist">My Playlist</a></li>
            </ul>
        </nav>
    </header>

    {{{ body }}}


</body>
</html>