<main class="home-main">
    <h1>Songs</h1>
    <div class="music-container">

        {{!-- begining of the loop of song items --}}
        {{#each songs}}
         <div class="music-item">
            <img src="{{this.artistImage}}" alt="" class="artistThumbnail">
            <div class="song-details">
                <p>Song Title : {{this.title}}</p>
                <p>Artist: {{this.artist}}</p>
            </div>
            <form action="/addSong/{{this.id}}" method="post" class="form">
                <button type="submit" class="add-btn"> Add to playlist</button>
            </form>
        </div>
        {{/each}}
        {{!-- end of the loop --}}
    
    </div>
    
</main>